uv : Using Python 3.13.7 environment at: D:\rEFACTOR\Backend\.venv
At line:1 char:1
+ uv pip freeze --python "D:\rEFACTOR\Backend\.venv\Scripts\python.exe" ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Using Python 3....R\Backend\.venv:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.95.0
anyio==4.13.0
attrs==26.1.0
beautifulsoup4==4.14.3
billiard==4.2.4
blis==1.3.3
boto3==1.42.89
botocore==1.42.89
cachetools==6.2.6
catalogue==2.0.10
celery==5.6.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpathlib==0.23.0
colorama==0.4.6
confection==1.3.3
cryptography==46.0.7
cymem==2.0.13
deprecation==2.1.0
distro==1.9.0
dnspython==2.8.0
docstring-parser==0.18.0
ecdsa==0.19.2
elevenlabs==2.43.0
email-validator==2.3.0
emoji==2.15.0
fastapi==0.135.3
fastapi-security==0.1.0
filelock==3.28.0
filetype==1.2.0
frozenlist==1.8.0
fsspec==2026.3.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
installer==0.7.0
jinja2==3.1.6
jiter==0.14.0
jmespath==1.1.0
kombu==5.6.2
langdetect==1.0.9
llvmlite==0.47.0
lxml==6.0.4
markdown-it-py==4.0.0
markupsafe==3.0.3
mdurl==0.1.2
mmh3==5.2.1
multidict==6.7.1
murmurhash==1.0.15
numba==0.65.0
numpy==2.4.4
olefile==0.47
openai==2.31.0
orjson==3.11.8
packaging==26.1
pandas==3.0.2
pinecone==8.1.2
pinecone-plugin-assistant==3.0.3
pinecone-plugin-interface==0.0.7
postgrest==2.28.3
preshed==3.0.13
prompt-toolkit==3.0.52
propcache==0.4.1
psutil==7.2.2
pyasn1==0.6.3
pycparser==3.0
pydantic==2.13.1
pydantic-core==2.46.1
pygments==2.20.0
pyiceberg==0.11.1
pyjwt==2.12.1
pyparsing==3.3.2
pypdf==6.10.1
pypdfium2==5.7.0
pyroaring==1.0.4
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-iso639==2026.1.31
python-jose==3.5.0
python-magic==0.4.27
python-multipart==0.0.26
python-oxmsg==0.0.2
rabbitmq==0.2.0
rapidfuzz==3.14.5
realtime==2.28.3
redis==7.4.0
regex==2026.4.4
requests==2.33.1
requests-toolbelt==1.0.0
rich==14.3.4
rsa==4.9.1
s3transfer==0.16.0
setuptools==82.0.1
shellingham==1.5.4
six==1.17.0
smart-open==7.6.0
sniffio==1.3.1
soupsieve==2.8.3
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.3
starlette==1.0.0
storage3==2.28.3
strenum==0.4.15
strictyaml==1.7.3
supabase==2.28.3
supabase-auth==2.28.3
supabase-functions==2.28.3
tabulate==0.10.0
tenacity==9.1.4
thinc==8.3.13
tqdm==4.67.3
typer==0.24.1
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2026.1
tzlocal==5.3.1
unstructured==0.22.21
unstructured-client==0.43.2
urllib3==2.6.3
vine==5.1.0
wasabi==1.1.3
wcwidth==0.6.0
weasel==1.0.0
webencodings==0.5.1
websockets==15.0.1
wrapt==2.1.2
yarl==1.23.0
zstandard==0.25.0
